<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#if page.title}}{{page.title}} | {{site.title}} {{else}}{{site.title}}{{/if}}</title>
  <meta name="description" content="{{#if page.excerpt}}{{page.excerpt}}{{else}}{{site.description}}{{/if}}">
  <link async rel="stylesheet" href="/styles/main.css">
  <link rel="canonical" href="{{page.url}}">
  <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="" />
  <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="msvalidate.01" content="7588EE6ABC7D14861EE25A69F0DE3D1F" />
  <link rel="stylesheet" title="Default" href="{{@root.site.highlightjs_root}}styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>